In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook

print("libraries uploaded")

libraries uploaded

In [2]:
df = pd.read_excel('filepath')
df.head()

,Invoice Submit Date - Date,Invoice Number,Invoice ID,Invoice Date Created - Date,Invoice Date - Date,Approved Date - Date,Invoice Status,Preparer - User,sum(Invoice Spend)
0,2020-11-06,INV-100158592,IRINV-100158592-23956,2020-11-06,2020-11-05,Unclassified,Reconciling,"Nayak, Abhimanyu Singh",8700.00
1,2020-11-06,603620789,IR603620789-23953,2020-11-06,2020-11-05,2020-11-09 00:00:00,Reconciled,"Nayak, Abhimanyu Singh",14900.22
2,2020-11-06,U0104897_100820,IRU0104897_100820-23921,2020-11-06,2020-10-08,2020-12-14 00:00:00,Reconciled,"Sullivan, Erik (Erik)",42722.53
3,2020-11-03,10657881,IR10657881-23711,2020-11-03,2020-10-31,2020-11-04 00:00:00,Reconciled,"Wood, Donald",43458.17
4,2020-11-03,230782,IR230782-23726,2020-11-03,2020-10-31,2020-11-19 00:00:00,Reconciled,"Wood, Donald",10708.50

In [3]:
# filter on previous day's date

df = df[(df['Invoice Submit Date - Date'] == '2020-12-16')]
print(len(df))
df.head()

27

,Invoice Submit Date - Date,Invoice Number,Invoice ID,Invoice Date Created - Date,Invoice Date - Date,Approved Date - Date,Invoice Status,Preparer - User,sum(Invoice Spend)
247,2020-12-16,54451061-131,IR54451061-131-25837,2020-12-16,2020-11-26,Unclassified,Reconciling,"Nayak, Abhimanyu Singh",51.33
248,2020-12-16,10016,IR10016-25836,2020-12-16,2020-11-30,Unclassified,Reconciling,"Wood, Donald",1200.00
249,2020-12-16,268912,IR268912-25832,2020-12-16,2020-12-13,Unclassified,Reconciling,"Bisht, Deepak",19.89
250,2020-12-16,933682298391RTS,IR933682298391RTS-25829,2020-12-16,2020-11-30,Unclassified,Reconciling,"Wood, Donald",7790.00
251,2020-12-16,4000636100,IR4000636100-25824,2020-12-16,2020-11-24,Unclassified,Reconciling,"Nayak, Abhimanyu Singh",17640.00

In [4]:
# Remove 'Unclassified' and re-format dates

df.replace('Unclassified',np.nan, inplace=True)

df['Invoice Submit Date - Date'] = pd.to_datetime(df['Invoice Submit Date - Date'])
df['Invoice Date Created - Date'] = pd.to_datetime(df['Invoice Date Created - Date'])
df['Invoice Date - Date'] = pd.to_datetime(df['Invoice Date - Date'])
df['Approved Date - Date'] = pd.to_datetime(df['Approved Date - Date'])
df.head()

,Invoice Submit Date - Date,Invoice Number,Invoice ID,Invoice Date Created - Date,Invoice Date - Date,Approved Date - Date,Invoice Status,Preparer - User,sum(Invoice Spend)
247,2020-12-16,54451061-131,IR54451061-131-25837,2020-12-16,2020-11-26,NaT,Reconciling,"Nayak, Abhimanyu Singh",51.33
248,2020-12-16,10016,IR10016-25836,2020-12-16,2020-11-30,NaT,Reconciling,"Wood, Donald",1200.00
249,2020-12-16,268912,IR268912-25832,2020-12-16,2020-12-13,NaT,Reconciling,"Bisht, Deepak",19.89
250,2020-12-16,933682298391RTS,IR933682298391RTS-25829,2020-12-16,2020-11-30,NaT,Reconciling,"Wood, Donald",7790.00
251,2020-12-16,4000636100,IR4000636100-25824,2020-12-16,2020-11-24,NaT,Reconciling,"Nayak, Abhimanyu Singh",17640.00

In [5]:
# Function to create the 'criteria met' column

def f(row):
    if row['sum(Invoice Spend)'] >= 10000 and row['sum(Invoice Spend)'] < 100000:
        val = 'Yes'
    else:
        val = 'No'
    
    return val

In [6]:
# add the criteria met column

df['Criteria Met'] = df.apply(f,axis=1)
print(len(df))
df.head()

27

,Invoice Submit Date - Date,Invoice Number,Invoice ID,Invoice Date Created - Date,Invoice Date - Date,Approved Date - Date,Invoice Status,Preparer - User,sum(Invoice Spend),Criteria Met
247,2020-12-16,54451061-131,IR54451061-131-25837,2020-12-16,2020-11-26,NaT,Reconciling,"Nayak, Abhimanyu Singh",51.33,No
248,2020-12-16,10016,IR10016-25836,2020-12-16,2020-11-30,NaT,Reconciling,"Wood, Donald",1200.00,No
249,2020-12-16,268912,IR268912-25832,2020-12-16,2020-12-13,NaT,Reconciling,"Bisht, Deepak",19.89,No
250,2020-12-16,933682298391RTS,IR933682298391RTS-25829,2020-12-16,2020-11-30,NaT,Reconciling,"Wood, Donald",7790.00,No
251,2020-12-16,4000636100,IR4000636100-25824,2020-12-16,2020-11-24,NaT,Reconciling,"Nayak, Abhimanyu Singh",17640.00,Yes

In [7]:
# Filter on criteria met

df = df[(df['Criteria Met'] == 'Yes')]
print(len(df))
df

9

,Invoice Submit Date - Date,Invoice Number,Invoice ID,Invoice Date Created - Date,Invoice Date - Date,Approved Date - Date,Invoice Status,Preparer - User,sum(Invoice Spend),Criteria Met
251,2020-12-16,4000636100,IR4000636100-25824,2020-12-16,2020-11-24,NaT,Reconciling,"Nayak, Abhimanyu Singh",17640.00,Yes
252,2020-12-16,5605900168,IR5605900168-25823,2020-12-16,2020-12-14,NaT,Reconciling,"Singh, Jyoti",20526.24,Yes
254,2020-12-16,4000636104,IR4000636104-25822,2020-12-16,2020-11-24,NaT,Reconciling,"Nayak, Abhimanyu Singh",22680.00,Yes
260,2020-12-16,IN0037328,IRIN0037328-25835,2020-12-16,2020-12-15,2020-12-16,Reconciled,"Nayak, Abhimanyu Singh",63469.70,Yes
262,2020-12-16,U0073417,IRU0073417-25809,2020-12-16,2020-12-01,2020-12-16,Reconciled,"Bisht, Deepak",53949.52,Yes
264,2020-12-16,INV-8936,IRINV-8936-25834,2020-12-16,2020-12-15,2020-12-16,Reconciled,"Bisht, Deepak",50000.00,Yes
265,2020-12-16,1003375655,IR1003375655-25815,2020-12-16,2020-11-12,2020-12-16,Reconciled,"Nayak, Abhimanyu Singh",26707.44,Yes
764,2020-12-16,4000636097,IR4000636097-25820,2020-12-16,2020-11-24,NaT,Reconciling,"Singh, Jyoti",36960.00,Yes
765,2020-12-16,SI001404,IRSI001404-25817,2020-12-16,2020-12-14,NaT,Reconciling,"Nayak, Abhimanyu Singh",13600.00,Yes

In [8]:
# randomly sample data. 
# The IF argument checks if there are more or less than 10 rows. If there are 10 or fewer then Python selects distinct
# records based on Invoice ID. If there are more than 10 Python selects a random 10. 

if len(df) > 10:
    df = df.sample(10)
    

elif len(df) <= 10:
     df = df.groupby('Invoice ID').apply(lambda df: df.sample(1))
        

print(len(df))        
df

9

,,Invoice Submit Date - Date,Invoice Number,Invoice ID,Invoice Date Created - Date,Invoice Date - Date,Approved Date - Date,Invoice Status,Preparer - User,sum(Invoice Spend),Criteria Met
Invoice ID,,,,,,,,,,,
IR1003375655-25815,265,2020-12-16,1003375655,IR1003375655-25815,2020-12-16,2020-11-12,2020-12-16,Reconciled,"Nayak, Abhimanyu Singh",26707.44,Yes
IR4000636097-25820,764,2020-12-16,4000636097,IR4000636097-25820,2020-12-16,2020-11-24,NaT,Reconciling,"Singh, Jyoti",36960.00,Yes
IR4000636100-25824,251,2020-12-16,4000636100,IR4000636100-25824,2020-12-16,2020-11-24,NaT,Reconciling,"Nayak, Abhimanyu Singh",17640.00,Yes
IR4000636104-25822,254,2020-12-16,4000636104,IR4000636104-25822,2020-12-16,2020-11-24,NaT,Reconciling,"Nayak, Abhimanyu Singh",22680.00,Yes
IR5605900168-25823,252,2020-12-16,5605900168,IR5605900168-25823,2020-12-16,2020-12-14,NaT,Reconciling,"Singh, Jyoti",20526.24,Yes
IRIN0037328-25835,260,2020-12-16,IN0037328,IRIN0037328-25835,2020-12-16,2020-12-15,2020-12-16,Reconciled,"Nayak, Abhimanyu Singh",63469.70,Yes
IRINV-8936-25834,264,2020-12-16,INV-8936,IRINV-8936-25834,2020-12-16,2020-12-15,2020-12-16,Reconciled,"Bisht, Deepak",50000.00,Yes
IRSI001404-25817,765,2020-12-16,SI001404,IRSI001404-25817,2020-12-16,2020-12-14,NaT,Reconciling,"Nayak, Abhimanyu Singh",13600.00,Yes
IRU0073417-25809,262,2020-12-16,U0073417,IRU0073417-25809,2020-12-16,2020-12-01,2020-12-16,Reconciled,"Bisht, Deepak",53949.52,Yes

In [9]:
df.drop('Criteria Met',axis=1, inplace = True)
print(len(df))

9

In [10]:
# write df to sheet named 'Sample' in existing file

path = 'filepath'

book = load_workbook(path)
writer = pd.ExcelWriter(path, engine='openpyxl')
writer.book = book

df.to_excel(writer, sheet_name='Sample',index=False)

writer.save()
writer.close()

Audit set up complete